<div [formGroup]="basicInfoForm">

    <fieldset>
        <legend>First Name:</legend>
        <input type="text" name="firstName" formControlName="firstName">
        <!-- <div *ngIf="userFirstName.invalid && (userFirstName.dirty || userFirstName.touched)" class="red-text">
            <div *ngIf="userFirstName.errors?.['required']">
                Enter your first name please
            </div>
        </div> -->
    </fieldset><br>

    <fieldset>
        <legend>Last Name:</legend>
        <input type="text" name="lastName" formControlName="lastName">
        <!-- <div *ngIf="userLastName.invalid && (userLastName.dirty || userLastName.touched)" class="red-text">
            <div *ngIf="userLastName.errors?.['required']">
                Enter your last name please
            </div>
        </div> -->
    </fieldset><br>

    <fieldset>
        <legend>Age: </legend>
        <input type="number" name="age" min="15" max="100" formControlName="age">
        <!-- <div *ngIf="userAge.invalid && (userAge.dirty || userAge.touched)" class="red-text">
            <div *ngIf="userAge.errors?.['required'] || userAge.errors?.['min'] || userAge.errors?.['max']">
                Age must be between 15 and 100
            </div>
        </div> -->
    </fieldset><br>

    <fieldset>
        <legend>Company:</legend>
        <input type="text" name="company" maxlength="35" formControlName="company">
        <!-- <div *ngIf="userCompany.invalid && (userCompany.dirty || userCompany.touched)" class="red-text">
            <div *ngIf="userCompany.errors?.['required'] || userCompany.errors?.['max']">
                Enter your company name please, max 35 characters
            </div>
        </div> -->
    </fieldset><br>

    <fieldset>
        <legend>Email</legend>
        <input type="email" name="email" formControlName="email">
        <!-- <mat-spinner *ngIf="userEmail.pending" [diameter]="20" ></mat-spinner> -->
        <!-- <p *ngIf="userEmail.pending">...please wait</p> -->
        <!-- <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="red-text">
            <div *ngIf="userEmail.errors?.['required'] ">
                Please enter a vaild email adress!
            </div>
            <div *ngIf="userEmail.errors?.['pattern'] || userEmail.errors?.['email']">
                Please enter GMAIL adress only!
            </div>
            <div *ngIf="userEmail.errors?.['emailNotAllowed']">
                This email is used by another user!
            </div>
        </div> -->
    </fieldset><br>

    <fieldset>
        <legend>Department: </legend>
        <select name="department" formControlName="department">
            <option value="frontEnd">Front-End</option>
            <option value="backEnd">Back-End</option>
        </select>
        <!-- <div *ngIf="userDepartment.invalid && (userDepartment.dirty || userDepartment.touched)" class="red-text">
            <div *ngIf="userDepartment.errors?.['required'] || userDepartment.errors?.['minLength']">
                Select your department name please,min 2 characters
            </div>
        </div> -->
    </fieldset><br> 

    <fieldset>
        <legend>Select Gender: </legend>
        <input type="radio" name="gender" value="male" formControlName="gender" checked>
        <label for="male">Male</label><br>
        <input type="radio" name="gender" value="female" formControlName="gender">
        <label for="female">Female</label><br>
        <input type="radio" name="gender" value="alien" formControlName="gender">
        <label for="alien">Alien</label>
        <!-- <div *ngIf="userGender.invalid && (userGender.dirty || userGender.touched)" class="red-text">
            <div *ngIf="userGender.errors?.['required']">
                Please select one of the options
            </div>
        </div> -->
    </fieldset><br>

    <fieldset>
        <legend>Status: </legend>
        <input type="checkbox" name="activated" formControlName="activated" checked>
        <label for="activated">Active</label>
    </fieldset><br>

</div>
