<div class="editUserHost">
    <form [formGroup]="parentUserEditForm" (ngSubmit)="submitChanges()" >
        <div class="editUserBox">
            <div class="formSection">
                <h2>Contact Details</h2>
                <app-user-basic-form [parentForm]="parentUserEditForm" [user]="userToEdit"></app-user-basic-form>
            </div>

            <div class="formSection">
                <h2>Address</h2>
                <app-user-address-form [parentForm]="parentUserEditForm" [user]="userToEdit"></app-user-address-form>
                <button 
                    type="submit" 
                    [disabled]="!parentUserEditForm?.valid">
                    Save Changes
                </button>
            </div>
        </div>
    </form>
</div>
