<div class="cardInfo">
    <ng-content select="[title]" ></ng-content>
    <ng-content select="[icon]" ></ng-content>
</div>
<p>{{info.displayName}}</p>
<p>{{info.age}}</p>
<p>{{info.property}}</p>
<p>{{info.specificInfo ? info.specificInfo : null}}</p>
<p>{{info.specificInfo2 ? info.specificInfo2 : null}}</p>
<p>{{info.specificInfo3 ? info.specificInfo3 : null}}</p>
<p>{{info.specificInfo4 ? info.specificInfo4 : null}}</p>
<ng-content select="[status]"></ng-content>
<ng-content select="[button]"></ng-content><br><br>
<ng-content select="[pencil]"></ng-content>