<div class="header">
    <div class="example-button-container">
        <a routerLink="/home">
            <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                <mat-icon>home
                    <a href="https://google.com"></a>
                </mat-icon>
            </button>
        </a>
    </div>
    <app-header-logo></app-header-logo>
    <app-search-bar></app-search-bar>
    <app-header-menu></app-header-menu>
</div>
<app-header-navbar></app-header-navbar>
