
<div class="footer-search">
    <app-search-bar></app-search-bar>
</div>
<div class="footer-info">
    <div>
        <p>Marin Stefan Daniel</p>
        <p>Angular Training IsSoft 2022</p>
        <p>StefanMarin@CoherentSolutions.com</p>
    </div>
    <div>
        <p>stefann06@yahoo.com</p>
        <p><a href="https://github.com/marin-stefan">GitHub</a></p>
        <p>Bucharest</p>
    </div>
    <div>
        <p>Need something here</p>
        <p>Ran out of ideas</p>
        <p>Pretend there is something interesting here</p>
    </div>
</div>
