<div class="addNewUserHost">
    <form [formGroup]="parentUserContactForm" (ngSubmit)="addUser()">
        <div class="addUserBox">
            <div class="formSection">
                <h2>Contact Details</h2>
                <app-user-basic-form [parentForm]="parentUserContactForm"></app-user-basic-form>
            </div>

            <div class="formSection">
                <h2>Address</h2>
                <app-user-address-form [parentForm]="parentUserContactForm"></app-user-address-form>
                <button 
                    type="submit"
                    [disabled]="!parentUserContactForm?.valid" >
                    Add User
                </button>
            </div>
        </div>
    </form>
</div>
