.addNewUserHost {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addUserBox{
    padding: 25px 15px;
    background-color:rgb(218, 215, 214);
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    text-align: end;
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
    /* width: 400px; */
}

.formSection {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin: 50px 0;
    padding: 10px 5px;
    background-color: rgb(227, 224, 221);
    border-radius: 10px;
    border: 1px solid green;
    min-width: 400px;;
}

input.ng-invalid.ng-touched{
    border: 1px solid orangered;
}

.red-text{
    color: red;
}




