.userList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: bisque;
}

.userListMain{
    width: 80%;
}

.userCard{
    border:1px solid green;
    background-color:aliceblue;
    width: 300px;
    border-radius: 10px;
    padding: 3px;
    margin: 10px;   
}

.gray{
    background-color: lightgray;
}

h2 {
    text-align: center;
}

.sortBar{
    display:flex
}

button{
    margin-left: 10px;  
}

.mat-button-toggle{
    background-color: #7B1FA2;
    color: rgba(255,255,255,.7);
}

.mat-button-toggle-checked {
    background-color: #65108a;
    color: white;
    font-weight: 500;
}

.mat-raised-button:disabled{
    background-color:#7B1FA2;
}

.icons{
    margin: 2px 20px 2px 0;
    cursor: pointer;
}

.userMain{
    display:flex;
    justify-content: space-between;
}

table {
    width: 100%;
  }

  .userSearch{
    background-color: rgb(216, 224, 232);
    padding:20px;
  }

  .hide{
    display:none;
  }