<div class="sortBar">
    <mat-button-toggle-group (change)="genderSort($event)" appearance="legacy" name="genderSelection" aria-label="Gender Selection">
        <mat-button-toggle value="all">All</mat-button-toggle>
        <mat-button-toggle value="male">Male</mat-button-toggle>
        <mat-button-toggle value="female">Female</mat-button-toggle>
    </mat-button-toggle-group>
    <button (click)="hideDisplayNonActive()" mat-raised-button color="primary">Hide/display non-active</button>
</div>

<div class="userList">
    <ng-container *ngFor="let user of users; let i = index">
        <app-user-card
            class="userCard"
            (activeStatus)="statusChange($event)"
            [user]='user'
            [index]='i'>
        </app-user-card> 
    </ng-container>
</div>

