
<form [formGroup]="childAddressForm">
    <!-- <h4>Address no {{arrayIndex + 1}}</h4> -->
    <div class="addressFormContainer">
        <div class="addressFormSection">

            <fieldset>
                <legend>Street:</legend>
                <textarea name="street" formControlName="street" rows="3" cols="40"></textarea>
                <div *ngIf="userStreet.invalid && (userStreet.dirty || userStreet.touched)" class="red-text">
                    <div *ngIf="userStreet.errors?.['required']">
                        Enter street and number please
                    </div>
                </div>
            </fieldset><br>
        
            <fieldset>
                <legend>City:</legend>
                <input type="text" name="city" formControlName="city">
            </fieldset><br>
        
            <fieldset [class.pink]="!userCity.value">
                <legend>Zip:</legend>
                <input 
                    type="text" 
                    name="zip" 
                    formControlName="zip" 
                    [readonly]="!userCity.value"
                    [class.pink]="!userCity.value">
                <p *ngIf="!userCity.value">...enter city first</p>
            </fieldset><br>

        </div>
        <div class="addressFormSection">
            <button 
                type="button" 
                class="removeAddress" 
                *ngIf="noOfAddresses > 1 "
                (click)="deleteAddress(arrayIndex)">
                    Del
            </button>
        </div>
    </div>
</form>

