button{
    margin-top: 10px;
    min-height: 35px;
    border-radius: 5px;
    padding:10px;
    color:#7B1FA2;
}

.cancel{
    background-color: red;
}

.submit{
    background-color: green;
}

.warning{
    background-color: orange;
}
