/* .sortBar{
    display:flex
}

button{
    margin-left: 10px;  
}

.mat-button-toggle{
    background-color: #7B1FA2;
    color: rgba(255,255,255,.7);
}

.mat-button-toggle-checked {
    background-color: #65108a;
    color: white;
    font-weight: 500;
}

.mat-raised-button:disabled{
    background-color:#7B1FA2;
} */