.addUserBox{
    width:50%;
    padding: 25px 15px;
    background-color:rgb(218, 215, 214);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
}
.addNewUserHost {
    display: flex;
    justify-content: center;
}

.newUserformDesign {
    display: flex;
    width: 45%;
    flex-direction: column;
    text-align: end;
}

